<IfModule mod_rewrite.c>
  #Header add Access-Control-Allow-Origin "*"
  Header add Access-Control-Allow-Origin "https://todolist.susanthaonline.xyz"
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header add Access-Control-Allow-Headers: "Content-Type"

  RewriteEngine on
  RewriteBase /
  
  RewriteCond %{HTTPS} !=on
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #RewriteRule ^(admin/.*)$ https://%{HTTP_HOST}%{REQUEST_URI}/admin/$1 [R=301,L]	
</IfModule>